<div class="password">
  <form class="form" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
    <p> <b>Зміна паролю</b> </p>
    <input type="password" formControlName="currentPassword" placeholder="*Поточний пароль">
    <input type="password" formControlName="newPassword" placeholder="*Новий пароль">
    <input type="password" formControlName="confirmedPassword" placeholder="*Повторіть пароль">
    <div class="buttons">
      <button class="cancel" (click)="cancelChanges()"> <b>СКАСУВАТИ</b> </button>
      <button type="submit" [disabled]="updatePasswordForm.invalid" class="changes_save"> <b>ЗБЕРЕГТИ ЗМІНИ</b>
      </button>
    </div>
  </form>
</div>
