<button type="button" (click)="addition()">Додати акцію</button>
<table class="table" *ngIf="!isAdding && !editStatus">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Назва</th>
      <th>Заголовок</th>
      <th>Опис</th>
      <th>Картинка</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let discount of adminDiscounts">
      <td>{{discount.date | date:'dd.MM.YYYY'}}</td>
      <td>{{discount.name}}</td>
      <td>{{discount.title}}</td>
      <td>{{discount.description}}</td>
      <td><img [src]="discount.imagePath" width="100px" height="100px"></td>
      <td>
        <p (click)="editDiscount(discount)">Редагувати</p>
        <p (click)="deleteDiscount(discount)">Видалити</p>
      </td>
    </tr>
  </tbody>
</table>
<form *ngIf="isAdding || editStatus" class="form" [formGroup]="discountForm" (ngSubmit)="addDiscount()">
  <input type="text" placeholder="*Назва" formControlName="name">
  <input type="text" placeholder="*Заголовок" formControlName="title">
  <textarea placeholder="*Опис" formControlName="description"></textarea>
  <ng-container *ngIf="!isUploaded">
    <input type="file" (change)="upload($event)">
    <progress id="file" max="100" [value]="uploadPercent"></progress>
  </ng-container>
  <ng-container *ngIf="isUploaded">
    <div>
      <img [src]="valueByControl('imagePath')" width="100px" height="100px">
      <button type="button" style="background-color: red;" (click)="deleteImage()">Видалити</button>
    </div>
  </ng-container>
  <button type="submit" [disabled]="discountForm.invalid">{{editStatus ? "Оновити акцію" : "Додати акцію"}}</button>
</form>
